body {
  margin : 0px;
}


.card{
  background-color: white;
  flex: 1;
  margin : 1em;
  padding: 1rem;
  -webkit-box-shadow: 4px 10px 26px 3px rgba(0,0,0,0.44);
  -moz-box-shadow: 4px 10px 26px 3px rgba(0,0,0,0.44);
  box-shadow: 4px 10px 26px 3px rgba(0,0,0,0.44);
}
